/.env.local

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

.DS_Store
/.idea
/.vscode
/.phpstorm.meta.php

/.phpunit.result.cache
/.phpunit-watcher.yml
/.phpunit-watcher.yml.dist
